<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h1>Email list</h1>
    </div>
    
    <h2><%= form_tag(email_list_path, method: "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search email" %>
        <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
        <%= link_to "Back list",email_list_path ,class: "btn btn-primary" %></h2>
          <% if @emails.blank? %>
          <br/>
            <h4>There is no such email address, this list <%= params[:search] %>.</h4>
           <% end %>
    <% end %>
    </div>
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Create time</th>
          </tr>
        </thead>

        <tbody>
          <% @emails.each do |email| %>
            <tr>
            <td><%=email.id %></td>
            <td><%=email.email %></td>
            <td><%=email.created_at %></td>
          <% end %>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <%= paginate @emails %>
      </div>
    </div>
       
  </div>
</div>